/settings.pref
/bin/
/publish/
/art/meteor.kra
/art/meteor.kra~
/art/meteor.png
/art/meteor.png~
/art/meteorsmall.png~
/art/spaceship.kra
/art/spaceship.kra~
/art/spaceship.png
/art/spaceship.png~
/art/spaceshipsmallsmall.png~